* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}
button {
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}
div {
  display: block;
}
.container {
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}
/* 游戏页面头部信息 */
/* 分数计算 */
.heading {
  display: flex;
  justify-content: space-between;
  height: 112px;
}
h1.title {
  font-size: 80px;
  font-weight: bold;
  display: block;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
.scores-container {
  display: flex;
}

.score-container,
.best-container {
  height: 55px;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  line-height: 47px;
  color: white;
  margin-top: 8px;
  border-radius: 3px;
  text-align: center;
}
.score-container {
  position: relative;
  width: 65px;
}
.best-container {
  position: relative;
  width: 124px;
  margin-left: 5px;
}
.score-container:after {
  content: "SCORE";
}
.best-container:after {
  content: "BEST";
}
.score-container:after,
.best-container:after {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  /* text-transform: uppercase; */
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #eee4da;
  font-size: 13px;
}
/* 开始新游戏按钮 */
.above-game {
  display: flex;
  justify-content: space-between;
}
.how-to-play-link {
  display: inline-block;
}
a {
  color: #776e65;
  font-weight: bold;
  /* text-decoration: underline; */
  cursor: pointer;
}
.restart-button {
  display: block;
  text-decoration: none;
  width: 124px;
  height: 40px;
  text-align: center;
  line-height: 42px;
  border-radius: 3px;
  background: #8f7a66;
  color: #f9f6f2;
}

/* 游戏主要区域 */
.game-container {
  position: relative;
  width: 500px;
  height: 500px;
  margin-top: 40px;
  padding: 15px;
  background: #bbada0;
  border-radius: 6px;
}
/* 游戏结束提示框 */
.game-message {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(238, 228, 218, 0.73);
  z-index: 100;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.game-message p {
  font-size: 60px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
}
.game-message button {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  color: #f9f6f2;
  border: none;
  height: 40px;
  line-height: 42px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 9px;
}
.game-message.game-won {
  background: rgba(237, 194, 46, 0.5);
  color: #f9f6f2;
}
.game-message .keep-playing-button {
  display: none;
}
.game-message.game-won .keep-playing-button {
  display: inline-block;
}

.game-message.game-won,
.game-message.game-over {
  display: flex;
}
/* 网格背景 */
.grid-row {
  display: flex;
  margin-bottom: 15px;
}
.grid-container .grid-cell {
  width: 106.25px;
  height: 106.25px;
  background: rgba(238, 228, 218, 0.35);
  margin-right: 15px;
  border-radius: 3px;
}
.grid-cell:last-child {
  margin-right: 0;
}
/* 数字方块 */
.tile-container {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
  /* border: none; */
}
.tile,
.tile .tile-innner {
  width: 107px;
  height: 107px;
  border-radius: 5px;
  /* border-radius不起作用 */
  line-height: 107px;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
}
.tile {
  position: absolute;
  overflow: hidden;
  transition: transform 0.1s linear;
}
.tile.tile-2 .tile-inner {
  background: #eee4da;
}
.tile.tile-4 .tile-inner {
  background: #eee1c9;
}
.tile.tile-8 .tile-inner {
  background: #f3b27a;
  color: #f9f6f2;
}
.tile.tile-16 .tile-inner {
  background: #f69664;
  color: #f9f6f2;
}
.tile.tile-32 .tile-inner {
  background: #f77c5f;
  color: #f9f6f2;
}
.tile.tile-64 .tile-inner {
  background: #f75f3b;
  color: #f9f6f2;
}
.tile.tile-128 .tile-inner {
  background: #edd073;
  color: #f9f6f2;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.238095),
    inset 0 0 0 1px rgba(255, 255, 255, 0.142857);
  font-size: 45px;
}
.tile.tile-256 .tile-inner {
  background: #edcc62;
  color: #f9f6f2;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746),
    inset 0 0 0 1px rgba(255, 255, 255, 0.190476);
  font-size: 45px;
}
.tile.tile-512 .tile-inner {
  background: #edc950;
  color: #f9f6f2;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.396825),
    inset 0 0 0 1px rgba(255, 255, 255, 0.238095);
  font-size: 45px;
}
.tile.tile-1024 .tile-inner {
  background: #edc53f;
  color: #f9f6f2;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619),
    inset 0 0 0 1px rgba(255, 255, 255, 0.285714);
  font-size: 35px;
}
.tile.tile-2048 .tile-inner {
  background: #edc22e;
  color: #f9f6f2;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.555556),
    inset 0 0 0 1px rgba(255, 255, 255, 0.333333);
  font-size: 35px;
}
.tile.tile-4096 .tile-inner {
  background: #3c3a33;
  color: #f9f6f2;
  font-size: 30px;
}
.tile.tile-8192 .tile-inner {
  background: #f13e1f;
  font-size: 30px;
}
.tile.tile-position-0-0 {
  transform: translate(0px, 0px);
}
.tile.tile-position-0-1 {
  transform: translate(121px, 0px);
}
.tile.tile-position-0-2 {
  transform: translate(242px, 0px);
}
.tile.tile-position-0-3 {
  transform: translate(363px, 0px);
}
.tile.tile-position-1-0 {
  transform: translate(0px, 121px);
}
.tile.tile-position-1-1 {
  transform: translate(121px, 121px);
}
.tile.tile-position-1-2 {
  transform: translate(242px, 121px);
}
.tile.tile-position-1-3 {
  transform: translate(363px, 121px);
}
.tile.tile-position-2-0 {
  transform: translate(0px, 242px);
}
.tile.tile-position-2-1 {
  transform: translate(121px, 242px);
}
.tile.tile-position-2-2 {
  transform: translate(242px, 242px);
}
.tile.tile-position-2-3 {
  transform: translate(363px, 242px);
}
.tile.tile-position-3-0 {
  transform: translate(0px, 363px);
}
.tile.tile-position-3-1 {
  transform: translate(121px, 363px);
}
.tile.tile-position-3-2 {
  transform: translate(242px, 363px);
}
.tile.tile-position-3-3 {
  transform: translate(363px, 363px);
}
